typography {
    color: white;
}

@media (max-width: 860px) {
    .page {
        width: 65%;
    }
    .menu-bar {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 770px) {
    .page {
        width: 80%;
    }
}

@media (max-width: 660px) {
    .page {
        width: 98%;
    }
    .menu-bar {
        padding-left: 0;
        padding-right: 0;
    }
}