h2 {
  font-weight: bold;
}
a {
  color: white;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.miniMapT, .miniMapB{
 height: 30px;
}

.miniMapL, .miniMapR{
height:30px;
}


.card {
  width: 80%;
  justify-content: center;
  margin-top: 100px;
  
}

.miniMap {
  margin-top: 100px;
  font-size: 20px;
}

#navbar {
  background-color: #007fff;
  font-weight: bold;
  height: 60px;
  font-size: 30px;  
}
 


