h2 {
  font-weight: bold;
  padding-top: 80px;
  font-size: 60px;
}

h3 {
  padding-right: 100px;
}

a {
  color: white;
}

li {
  padding-right: 100px;
}

img {
  padding-top: 80px;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.miniMapT, .miniMapB{
 height: 30px;
}

.miniMapL, .miniMapR{
height:30px;
}

.card{
  width: 90%;
  height: 200px;
  justify-content: center;  
}

.miniMap {
  margin-top: 100px;
  padding-right: 50px;
  padding-bottom: 80px;
  font-size: 20px;
}

.terminal {
  padding-left: 100px;
}

#navbar {
  background-color: #007fff;
  font-weight: bold;
  height: 60px;
  font-size: 30px;  
}
 


